.btnFacebook {
    color: #fff;
    background-color: #4267b2;
    border-color: rgba(0,0,0,0.2);
}

.btnFacebook:hover {
    color: #fff;
    background-color: #3b5998;
}

.btnGoogle {
    color: #fff;
    background-color: #f35c49;
    border-color: rgba(0,0,0,0.2);
}

.btnGoogle:hover {
    color: #fff;
    background-color: #DD4B39;
}

