.TicTacToe {
    display: flex;
    flex-direction: column;

    .row, .rowTop, .rowBottom {
        justify-content: center;        
        display: flex;
        align-items: center;

        div {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        div:nth-of-type(2) {
            border-left: 2px solid #444444;
            border-right: 2px solid #444444;
        }
        
        div:nth-of-type(2) {
            border-left: 2px solid #444444;
            border-right: 2px solid #444444;
        }
    }

    .rowTop div {
        border-bottom: 2px solid #444444;
    }

    .rowBottom div {
        border-top: 2px solid #444444;
    }




}

