.TicTacToe {
    display: flex;
    flex-direction: column;    

    .row {
        justify-content: center;        
        display: flex;
        align-items: center;

        div {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        div:not(:first-of-type) {
            border-left: 2px solid #444444;
        }
    }

    .row:not(:last-of-type) {
        div{
            border-bottom: 2px solid #444444;
        }
    }
}

